* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
}

nav {
    width: 100%;
    height: 7rem;
    background-color: white;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px rgba(107, 106, 106, 0.6);
    padding: 0px 100px 0px 60px;
    top: 0;
    left: 0;
    z-index: 999;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}
.nav__ul-up{
    margin-left: 400px;
    background-color: #ade7f0 ;  
    width: 850px;   
    border-bottom-left-radius: 30px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-family: serif;
    
}

.nav__ul-down{
    /* margin-left: 50rem; */
    margin-top: -3rem;
    font-weight: bold;
}

li a {
    text-decoration-line: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative;
}

img.logo {
    width: 18%;
    margin-left: 0px;
    margin-top: -2rem;
}

nav ul li a:hover,
nav ul li a.active {
    color: red;
}

nav ul li a::after {
    content: "";
    width: 0px;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#nav__button{
    margin-left: 15rem;
    width: 7rem;
    border-radius: 20px;
    height: 1.8rem;
    background-color: red;
    color: white;
    border: none;
    font-size: 12px;
};

#nav__button:hover{
    box-shadow: 0 0 50px white;
    filter: brightness(100%)
}


.nav__input{
    margin-left: 17rem;
    outline: none;
    border: none;
}

#links__prog{
    margin-left: 20rem;
}

.__land-img{
    background-image: url(../images/bdg8.jpg);
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;
    filter: brightness(90%);
}

.__img-text{
    color: white;
    font-size: 5rem;
    text-align: center;
    /* padding: 10rem; */
    font-weight: bold;
    padding-top: 10rem;
}

.__img-button{
    margin: 5rem;
    margin-left: 11rem;
    width: 10rem;
    height: 2.5rem;
    background-color: orange;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 7px;  
}
.__img-button:hover{
    color: white;
    box-shadow: 0 0 50px whitesmoke;
    filter: brightness(150%);
}

#__img-button2{
    margin-left: 30rem;
    width: 15rem;
    background-color: lightskyblue;
}
#__img-button2:hover{
    color: white;
    box-shadow: 0 0 50px lightskyblue;
    filter: brightness(120%);
}

.notice{
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
}

#__notice-h5{
    font-size: 40px;
    font-weight: bold;
    color: rgb(29, 29, 148);
}
.__notice-h6{
    font-size: 25px;
    font-weight: bold;
    color: rgb(66, 195, 237);
}

#__notice-p{
    color: orange;
}

.programm{
    margin-top: 15rem;
    margin-left: 10rem;
}
.__programm-h5{
    font-weight: bold;
    color: rgb(11, 11, 75);
    font-size: 26px;
}
.__programm-p{
    color: rgb(11, 11, 75);
    font-weight: 700;
}

.__programm-images{
    display: flex;
}

.__programm-img{
    width: 15rem;
    margin: 10px;
}
.__programm-img:hover{
    margin-bottom: 3rem;
}

#__programm-hide{
    display: none;
}

#__programm-toggle{
    margin-left: 60rem;
}

.notice2{
    margin-top: 8rem;
    margin-left: 10rem;
}

.__notice2-h4{
    font-size: 48px;
    font-weight: bold;
    color: rgb(11, 11, 75);
}

.__notice2-h5{
    font-size: 35px;
    font-weight: bolder;
    color: rgb(11, 11, 75);
}

.bdg-banner{
    width: 75rem;
    height: 20rem;
    background-color:  rgb(11, 11, 75);
    margin-left: 5.5rem;
    margin-top: 10rem;
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
}

.__bdg-banner-h5{
    text-align: center;
    justify-content: center;
    padding-top: 5rem;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.footer-div{
    width: 100%;
    height: 90rem;
    background-color: rgb(17, 17, 113);
    margin-top: 5rem;
}

.__footer-log&butt{
    display: inline-flex;
}

.__footer-logoimg{
    padding-top: 10rem;
    margin-left: 10rem;
}

.__footer-donationbutt{
    margin-left: 30rem;
    width: 20rem;
    height: 4rem;
    background-color: orange;
    border: none;
    border-radius: 10px;
}
.__footer-donationbutt:hover{
    color: white;
    box-shadow: 0 0 50px orange;
    filter: brightness(150%);
}

#__footer-donationbutt-text{
    color: white;
    text-decoration: none;
}

.__footer-arrimg{
    position: absolute;
    height: 5rem;
    margin-top: 7rem;
}

.__footer-texts-div{
    padding-top: 5rem;
    margin-left: 10rem;
}

.__footer-h5{
    display: inline-flex;
    position: relative;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
}

.__footer-texts{
    margin-left: 3rem;
    margin-top: 4rem;
    color: white;
    font-weight: bold;
}

.__footer-info{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.__footer-phone{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    font-size: 20px;
}
.__footer-direct{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    font-size: 20px;
    color: aquamarine;
    font-weight: bold;
    opacity: 50%;
}

.__footer-locations{
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

.__footer-address{
    margin-top: 40px;
    font-size: 20px;
    font-weight: normal;
}

.__footer-line{
    position: absolute;
    margin-left: 30rem;
    width: 2px;
    height: 48rem;
    background-color: white;
    margin-top: -40rem;
}

.__footer-studentservices{
    position: absolute;
    margin-left: 35rem;
    margin-top: -40rem;
}

.__footer-schoolcentre{
    position: absolute;
    margin-left: 55rem;
    margin-top: -35rem;
}

.__footer-about{
    position: absolute;
    margin-left: 35rem;
    margin-top: -10rem;
}

.__footer-campuses{
    position: absolute;
    margin-left: 55rem;
    margin-top: -3rem;
}
.__footer-h6{
    color: white;
    font-weight: bold;
}

.__footer-ul{
    color: white;
    text-decoration: line-through;
    font-weight: bold;
}

.__footer-copyright{
    margin-left: 3rem;
    margin-top: 15rem;
    color: white;
    font-family: serif;
    font-weight: bold;
}

#__footer-priv-pol{
    color: rgb(0, 255, 225);
    opacity: 50%;
}