@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i6r6ae');
  src:  url('fonts/icomoon.eot?i6r6ae#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i6r6ae') format('truetype'),
    url('fonts/icomoon.woff?i6r6ae') format('woff'),
    url('fonts/icomoon.svg?i6r6ae#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-envelope-closed:before {
  content: "\e922";
}
.icon-bvclogo:before {
  content: "\e92f";
}
.icon-rgo_logo .path1:before {
  content: "\e92b";
  color: rgb(238, 51, 36);
}
.icon-rgo_logo .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rgo_logo .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-rgo_logo .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-key:before {
  content: "\e929";
}
.icon-person:before {
  content: "\e92a";
}
.icon-beaker2:before {
  content: "\e923";
}
.icon-book2:before {
  content: "\e924";
}
.icon-chatbubble:before {
  content: "\e926";
}
.icon-envelope:before {
  content: "\e927";
}
.icon-paper:before {
  content: "\e928";
}
.icon-bookClosed:before {
  content: "\e91e";
}
.icon-ChatQuestion:before {
  content: "\e91f";
}
.icon-flag:before {
  content: "\e920";
}
.icon-handshake:before {
  content: "\e921";
}
.icon-trashcan:before {
  content: "\e91d";
}
.icon-house:before {
  content: "\e90d";
}
.icon-rings:before {
  content: "\e90e";
}
.icon-computer:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-book_open:before {
  content: "\e90f";
}
.icon-teacher:before {
  content: "\e910";
}
.icon-atom:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-graduation:before {
  content: "\e913";
}
.icon-beaker:before {
  content: "\e914";
}
.icon-gavel:before {
  content: "\e915";
}
.icon-hourglass:before {
  content: "\e916";
}
.icon-book_half_open:before {
  content: "\e917";
}
.icon-book:before {
  content: "\e918";
}
.icon-pencil:before {
  content: "\e919";
}
.icon-profile:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e91b";
}
.icon-cart:before {
  content: "\e91c";
}
.icon-close:before {
  content: "\e901";
}
.icon-main-nav:before {
  content: "\e925";
}
.icon-childcare:before {
  content: "\e930";
}
.icon-gift:before {
  content: "\e931";
}
.icon-minus:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-chevron-small-up:before {
  content: "\e902";
}
.icon-chevron-small-right:before {
  content: "\e903";
}
.icon-chevron-small-left:before {
  content: "\e904";
}
.icon-chevron-small-down:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-up:before {
  content: "\e909";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-play_circle_outline:before {
  content: "\e039";
}
